[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
jupyter = "*"
pymupdf = "*"
nbstripout = "*"
openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.14"
